.grp-banner {
    margin-top: -70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding-right: 50px;
    padding-left: 15px;
    
}
.grp-logo{
    width: 20%;
    height: 300px;
    text-align: left;
    
}