@import '../styles/variable-mixin.scss';

.container{
    
    display: flex;
    flex-direction:column-reverse
}
.grp-post{
    display: flex;
    flex-direction:column;
    margin-left: 10%;
    margin-right: 2%;
    &-block{
        height: 10%;
        &-title{
            margin: 0px;
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: -5px;
            text-align: left;
            font-size: 16px;
        }
        &-1{
            display: flex;
            text-align:left;
            width: 100%;
            padding-left: 5%;
            &-image{
                @media(max-width:760px) {
                    width: 40%;
                }
                width: 20%;
                height: 150px;
                margin-top: 6%;
            }
            &-text-area{
                @media(max-width:760px) {
                    width: 50%;
                }
                margin-left: 1%;
                padding-left: 1%;
                width: 70%;
                height: 150px;
                margin-top: 6%;
                resize: none;
                background-color: $tertiary-color;
                box-shadow: inset 0px 0px 5px rgb(122, 122, 122);
            
            }
        }
        &-2{
            @media(max-width:760px) {
                display: flex;
                justify-content: center;
                margin-top: -15px;
            }
            display: flex;
            justify-content: space-between;
            &-btn-block-1{
                @media(max-width:760px) {
                    width: 100px;
                }
                text-align: left;
                padding-left: 5%;
                width: 300px;
            }
            &-btn-like{
                @media(max-width:760px) {
                    @include btn-body-smartphone();
                    
                }
                    @include btnStyle();
                    &-icon{
                        margin-right: 5px;
                        margin-left: 5px;
                    }
                
            }
            &-btn-block-2{
                &false{
                    display: none;
                }
                &true{
                padding-right: 5%;
                width: 300px;
                text-align: right;
                }
            }
            &-btn-custom{
                @media(max-width:760px) {
                    @include btn-body-smartphone();
                }
                @include btnStyle();
                margin-right: 5% ;
                &-link{
                    color: black;
                    text-decoration: none;
                }
                
            }
            &-btn-delete{
                @media(max-width:760px) {
                    @include btn-body-smartphone();
                }
                @include btnStyle();
            }
        }
        
    }
}